body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

header {
    text-align:center;
    border-radius: 15px;
    border: 2px solid darkorange;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid darkorange;
}

h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
}

#generateButton {
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

#generateButton:hover {
    background-color: orange;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    color: #070705;
    width: 22rem;
    line-height: 1.5;
    position: relative;
    left: 22%;
}

.recipeCard figure {
    margin: 0;
    padding: 0;
    width: 120%;
    height: 14rem;
    position: relative;
    right: 2rem;
}

.recipeCard figure img {
	width: 100%;
	height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 16px;
    z-index: 1;
}

.dish-type {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: 6rem;
}

.dish-stats {
    font-size: 20px;
    color: #555;
    margin-top: 5px;
    position: relative;
    bottom: 3.2rem;
    left: 6.5rem;
}

.dish-name {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 10px;
    position: relative;
    bottom: 2rem;
}

.dish-link {
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: #070705;
}

#recipe-form {
    text-align: center;
    margin: 20px;
}
.hidden {
    display: none;
}